{{ define "main" }}
  <div class="cavani_tm_section" id="about">
    <div class="section_inner">

      <div class="cavani_tm_about">
        <div class="biography">
          <div class="cavani_tm_title">
            <span>About Aratec</span>
          </div>
          <div class="wrapper">
            <div class="left">
              <p>We are a Whitehorse based software development &amp; tech consulting company. We specialize in software development, system optimization and general consulting around technology.</p>
            </div>
            <div class="right">
              <ul>
                <li><span class="first">E-Mail:</span><span class="second"><a href="#">info@aratec.ca</a></span></li>
                <li><span class="first">Phone:</span><span class="second">+1 867 332 9173</span></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="services">
          <div class="wrapper">
            <div class="service_list">
              <div class="cavani_tm_title">
                <span>Services</span>
              </div>
              <div class="list">
                <ul>
                  <li>Web Development</li>
                  <li>Software &amp; Database Performance Optimisation</li>
                  <li>Landing Pages</li>
                </ul>
              </div>
            </div>
            <div class="service_list">
              <div class="cavani_tm_title">
                <span>Services</span>
              </div>
              <div class="list">
                <ul>
                  <li>SEO</li>
                  <li>Data Modeling</li>
                  <li>Data Science</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="testimonials">
          <div class="cavani_tm_title">
            <span>Testimonials</span>
          </div>
          <div class="list">
            <ul class="owl-carousel">

              <li>
                <div class="list_inner">
                  <div class="text">
                    <i class="icon-quote-left"></i>
                    <p>Michael is one of the most talented and detail-oriented programmers I've ever come across in almost 22 years online ...</p>
                  </div>
                  <div class="details">
                    <div class="image">
                      {{ $image := resources.Get "img/testimonials/1.jpg" }}
                      <div class="main" data-img-url="{{ $image.RelPermalink }}"></div>
                    </div>
                    <div class="info">
                      <h3>Jack</h3>
                      <span>COO Gossamer Threads</span>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="list_inner">
                  <div class="text">
                    <i class="icon-quote-left"></i>
                    <p>I have been EXTREMELY happy with all the web development work you have done for us ...</p>
                  </div>
                  <div class="details">
                    <div class="image">
                      {{ $image := resources.Get "img/testimonials/2.jpg" }}
                      <div class="main" data-img-url="{{ $image.RelPermalink }}"></div>
                    </div>
                    <div class="info">
                      <h3>Rebecca</h3>
                      <span>CEO, Paper Divas</span>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="list_inner">
                  <div class="text">
                    <i class="icon-quote-left"></i>
                    <p>I have nothing but glowing reviews for Michael and his level of expertise.</p>
                  </div>
                  <div class="details">
                    <div class="image">
                      {{ $image := resources.Get "img/testimonials/3.jpg" }}
                      <div class="main" data-img-url="{{ $image.RelPermalink }}"></div>
                    </div>
                    <div class="info">
                      <h3>Robert</h3>
                      <span>COO, Andrew Christian Inc.</span>
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
