{{ define "main" }}
  <div class="cavani_tm_section" id="contact">
    <div class="section_inner">
      <div class="cavani_tm_contact">
        <div class="cavani_tm_title">
          <span>Get in Touch</span>
        </div>
        <div class="short_info">
          <ul>
            <li>
              <div class="list_inner">
                {{ $image := resources.Get "img/svg/location.svg" }}
                <img class="svg" src="{{ $image.RelPermalink }}" alt="" />
                <span>5 Pelly Road, Whitehorse, YT, Y1A 4L9</span>
              </div>
            </li>
            <li>
              <div class="list_inner">
                {{ $image := resources.Get "img/svg/mail.svg" }}
                <img class="svg" src="{{ $image.RelPermalink }}" alt="" />
                <span><a href="#">info@aratec.ca</a></span>
              </div>
            </li>
            <li>
              <div class="list_inner">
                {{ $image := resources.Get "img/svg/call.svg" }}
                <img class="svg" src="{{ $image.RelPermalink }}" alt="" />
                <span>+1 867 332 9173</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="map_wrap">
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                width="100%"
                height="355"
                id="gmap_canvas"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDubIF_yoLORm9yWPtcGHRn8cx1uf0-s24&q=5+Pelly+Road,+Whitehorse,+YT,+Y1A+4L9&zoom=12">
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}

