{{ define "main" }}
  <div class="cavani_tm_section animated" id="home">
    <div class="cavani_tm_home">
      {{ $image := resources.Get "img/home/banner.png" }}
      <div class="banner">
        <img src="{{ $image.RelPermalink }}" />
      </div>
      <div class="content">
        <h3 class="name">Aratec</h3>
        <span class="line"></span>
        <h3 class="job">
          <span class="cd-headline clip"> <!-- ANIMATE TEXT VALUES: zoom, rotate-1, letters type, letters rotate-2, loading-bar, slide, clip, letters rotate-3, letters scale, push, -->
            <span class="cd-words-wrapper">
              <b class="is-visible">Development</b>
              <b>Optimisation</b>
              <b>Consulting</b>
              <b>Data Science</b>
            </span>
          </span>
        </h3>
        <div class="cavani_tm_button transition_link">
          <a href="/contact">Get in Touch</a>
        </div>
      </div>
    </div>
  </div>
{{ end }}
