{{ define "main" }}
  <div class="cavani_tm_section" id="portfolio">
    <div class="section_inner">
      <div class="cavani_tm_portfolio">
        <div class="cavani_tm_title">
          <span>Portfolio</span>
        </div>

        <div class="portfolio_list">
          <ul class="gallery_zoom">

            {{ range $p := $.Site.Data.portfolio.portfolio}}

              <li class="detail">
                <div class="list_inner">
                  <div class="image">
                    {{ $image := resources.Get "img/thumbs/1-1.jpg" }}
                    <img src="{{ $image.RelPermalink }}" alt="" />
                    {{ $imagePath := printf "img/portfolio/%s" $p.image }}
                    {{ $image := resources.Get $imagePath }}
                    <div class="main" data-img-url="{{ $image.RelPermalink }}"></div>
                    <div class="details">
                      <h3>{{$p.name}}</h3>
                      <span>{{$p.description}}</span>
                    </div>
                  </div>
                </div>
              </li>

            {{end}}

          </ul>
        </div>
      </div>
    </div>
  </div>
{{ end }}
