{{ define "main" }}
  <div class="cavani_tm_section" id="service">
    <div class="section_inner">
      <div class="cavani_tm_service">
        <div class="cavani_tm_title">
          <span>Services</span>
        </div>
        <div class="service_list">
          <ul>
            {{ range $p := $.Site.Data.service.service}}
              {{ $imagePath := printf "img/service/%s" $p.image }}
              {{ $image := resources.Get $imagePath }}
              <li>
                <div class="list_inner">
                  <img class="svg" src="{{ $image.RelPermalink }}" alt="" />
                  <h3 class="title">{{ $p.title }}</h3>
                  <p class="text">{{ $p.description }}</p>
                </div>
              </li>
            {{ end }}
          </ul>
        </div>

      </div>
    </div>
  </div>
{{ end }}
