<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Aratec IT services">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{ partialCached "head/fonts.html" . }}
{{ partialCached "head/css.html" . }}
{{ partialCached "head/ico.html" . }}
{{ partialCached "head/js.html" . }}
{{ partialCached "head/analytics.html" . }}
