{{ $currentPage := .page }}

<!-- MOBILE MENU -->
<div class="cavani_tm_topbar">
  <div class="topbar_inner">
    <div class="logo" data-type="image">
      {{ $image := resources.Get "img/logo/dark.png" }}
      <a class="image" href="/"><img src="{{ $image.RelPermalink }}" alt="Aratec Logo" /></a>
      <a class="text" href="/"><span>Aratec</span></a>
    </div>
    <div class="trigger">
      <div class="hamburger hamburger--slider">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cavani_tm_mobile_menu">
  <div class="inner">
    <div class="wrapper">
      <div class="menu_list">
        <ul class="transition_link">
          {{- range site.Menus.main }}
            <li><a href="{{ .URL }}">
              {{ .Name }}
              {{- with .Page }}
                {{- with .Params.version -}}
                  ({{ . }})
                {{- end }}
              {{- end }}
            </a></li>
          {{- end }}
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- /MOBILE MENU -->

<!-- HEADER -->
<div class="cavani_tm_header">
  <div class="logo" data-type="image">
    {{ $image := resources.Get "img/logo/dark.png" }}
    <a class="image" href="/"><img src="{{ $image.RelPermalink }}" alt="Aratec Logo" /></a>
    <a class="text" href="/"><span>Aratec</span></a>
  </div>
  <div class="menu">
    <ul class="transition_link">
      {{ range site.Menus.main }}
        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"><a href="{{ .URL }}">
          {{ .Name }}
          {{- with .Page }}
            {{- with .Params.version -}}
              ({{ . }})
            {{- end }}
          {{- end }}
        </a></li>
      {{ end }}
    </ul>
    <span class="ccc"></span>
  </div>
</div>
<!-- /HEADER -->
