/* Heading */
h1, h2, h3, h4, h5, h6 {
  color: #d82bda;
}
/* Footer */
.cavani_tm_footer .contact p,
.cavani_tm_footer .contact p a {
  color: #333;
  font-family: "Poppins";
  text-decoration: none;
}

/* Home */
.cavani_tm_home {
  display: flex;

}
.cavani_tm_home .banner {
  width: 600px;
  height: 100%;
  background-color: #000;
}

@media (max-width: 1024px) {
  .cavani_tm_home .banner {
    display: none;
  }
}

/* Remove left image from theme */
.cavani_tm_mainpart  .main_content {
 position: unset;
 width: unset;
}

/* Imported map styles from template */
.mapouter {
  position: relative;
  text-align: right;
  height: 355px;
  width: 100%;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 355px;
  width: 100%;
}

/* Portfolio */
.cavani_tm_portfolio .cavani_tm_title {
  margin-bottom: 55px;
}
