{{- with resources.Get "/apple-touch-icon.png" }}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink }}">
{{- end }}

{{- with resources.Get "/favicon-32x32.png" }}
  <link rel="icon" type="image/png" sizes="32x32" href="{{ .RelPermalink }}">
{{- end }}

{{- with resources.Get "/favicon-16x16.png" }}
  <link rel="icon" type="image/png" sizes="16x16" href="{{ .RelPermalink }}">
{{- end }}

{{- with resources.Get "/site.webmanifest" }}
  <link rel="manifest" href="{{ .RelPermalink }}">
{{- end }}

